force-app/main/default/flows/Atualiza_Lead_From_Receita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Consultar_CNPJ_na_Receita</name>
        <label>Consultar CNPJ na Receita</label>
        <locationX>1315</locationX>
        <locationY>540</locationY>
        <actionName>ReceitaWSSimples.consultarCNPJ</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Encontrou_o_CNPJ</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ReceitaWSSimples.consultarCNPJ</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Campos_divergentes</name>
        <label>Campos divergentes?</label>
        <locationX>1029</locationX>
        <locationY>864</locationY>
        <assignmentItems>
            <assignToReference>$Record.Divergencia_em_dados_do_CNPJ__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Popula_outros_campos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Popula_campos_nao_verificados</name>
        <label>Popula campos não verificados</label>
        <locationX>1469</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>$Record.Razao_social__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dados não verificados</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Endereco__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dados não verificados</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Regime_Tributario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dados não verificados</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Encontrou_o_CNPJ</name>
        <label>Encontrou o CNPJ</label>
        <locationX>1315</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Popula_campos_nao_verificados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não encontrou</defaultConnectorLabel>
        <rules>
            <name>Encontrou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consultar_CNPJ_na_Receita.200.status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tem_divergencia</targetReference>
            </connector>
            <label>Encontrou</label>
        </rules>
    </decisions>
    <decisions>
        <name>Procurar_na_base_de_account_o_cnpj</name>
        <label>Procurar na base de account o cnpj</label>
        <locationX>1040</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>Consultar_CNPJ_na_Receita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não encontrou na base</defaultConnectorLabel>
        <rules>
            <name>Encontrou_na_base</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Contas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Popular_os_campos_do_lead</targetReference>
            </connector>
            <label>Encontrou na base</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tem_divergencia</name>
        <label>Tem divergencia?</label>
        <locationX>1161</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Popula_outros_campos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CNPJ__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Consultar_CNPJ_na_Receita.200.cnpj</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Consultar_CNPJ_na_Receita.200.nome</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Consultar_CNPJ_na_Receita.200.email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campos_divergentes</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Populacompany</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!Consultar_CNPJ_na_Receita.200.fantasia}), {!Consultar_CNPJ_na_Receita.200.fantasia} = &quot;[not provided]&quot;), {!Consultar_CNPJ_na_Receita.200.nome}, {!Consultar_CNPJ_na_Receita.200.fantasia})</expression>
    </formulas>
    <interviewLabel>Atualiza Lead From Receita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza Lead From Receita</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Contas</name>
        <label>Buscar Contas</label>
        <locationX>1040</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Procurar_na_base_de_account_o_cnpj</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Popula_outros_campos</name>
        <label>Popula outros campos</label>
        <locationX>1161</locationX>
        <locationY>1056</locationY>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Consultar_CNPJ_na_Receita.200.municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Populacompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razao_social__c</field>
            <value>
                <elementReference>Consultar_CNPJ_na_Receita.200.nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regime_Tributario__c</field>
            <value>
                <elementReference>Consultar_CNPJ_na_Receita.200.porte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Consultar_CNPJ_na_Receita.200.uf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Consultar_CNPJ_na_Receita.200.logradouro</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Popular_os_campos_do_lead</name>
        <label>Popular os campos do lead</label>
        <locationX>765</locationX>
        <locationY>540</locationY>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Buscar_Contas.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Endereco__c</field>
            <value>
                <elementReference>Buscar_Contas.Endereco__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razao_social__c</field>
            <value>
                <elementReference>Buscar_Contas.RazaoSocial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regime_Tributario__c</field>
            <value>
                <elementReference>Buscar_Contas.Regime_Tributario__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>645</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CNPJ__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Buscar_Contas</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
