force-app/main/default/flows/Contar_Leads_SMB_por_usuario.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Qtd_Leads_SMB_Abertos</name>
        <label>Set_Qtd_Leads_SMB_Abertos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varQtdLeadsSMB</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Leads_SMB_Abertos_Do_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Owner_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dec_SMB</name>
        <label>Dec_SMB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não SMB</defaultConnectorLabel>
        <rules>
            <name>SMB</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tamanho_da_empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>11 a 50 funcionários</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tamanho_da_empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 a 10 funcionários</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Leads_SMB_Abertos_Do_Owner</targetReference>
            </connector>
            <label>SMB</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contar Leads SMB por usuário {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Carga de Leads SMB por owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Leads_SMB_Abertos_Do_Owner</name>
        <label>Get_Leads_SMB_Abertos_Do_Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Qtd_Leads_SMB_Abertos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tamanho_da_empresa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Mais de 1000 funcionários</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tamanho_da_empresa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>251 a 1000 funcionários</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tamanho_da_empresa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>51 a 250 funcionários</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Converted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed - Not Converted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_User</name>
        <label>Get_Owner_User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_na_contagem_de_leads_smb</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_na_contagem_de_leads_smb</name>
        <label>Update na contagem de leads smb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Leads_SMB_Abertos__c</field>
            <value>
                <elementReference>varQtdLeadsSMB</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dec_SMB</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.OwnerId}) || ISCHANGED({!$Record.Status})</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varQtdLeadsSMB</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
