force-app/main/default/flows/Create_Experience_Session_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Failed_Message</name>
        <label>Assign Failed Message</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unfortunatley we were unable to make the booking, would you like to speak to a representative? </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Success_Message</name>
        <label>Assign Success Message</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The booking has been successful. </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>This flow is used to create a Booking for a user that wants to attend an experience session. Each Experience__c has multiple Session__c records that each have a date and time allocated to them. A Contact Id needs to passed into the flow with a Session__c Id to create the booking. This flow also requires a number of guests.</description>
    <environments>Default</environments>
    <interviewLabel>Create Experience Session Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Experience Session Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Booking</name>
        <label>Create Booking</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>Booking_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Booking</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Failed_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Guests__c</field>
            <value>
                <elementReference>Guests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>Session_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Booking</name>
        <label>Get Booking</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Booking_Id</elementReference>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputReference>Booking</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Session__c</queriedFields>
        <queriedFields>Start_Time__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The booking that has been created.</description>
        <name>Booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <description>The Id of the booking that has just been created.</description>
        <name>Booking_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Id of a Contact record that you would like to create the booking for.</description>
        <name>Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The number of guests that you would like to make the booking for.</description>
        <name>Guests</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>The message that you would like to display to the user after the action has run.</description>
        <name>Output_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Session Id is an Id for the Session__c record that you would like book for a customer.</description>
        <name>Session_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
