force-app/main/default/flows/Flow_de_roteamento_Enterprise_Mid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Se_Giorgian_Tem_Menos</name>
        <label>Se_Joao_Tem_Menos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Joao_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_do_Joao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Se_Sofia_Tem_Menos_Ou_Igual</name>
        <label>Se_Sofia_Tem_Menos_Ou_Igual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sofia_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_da_Sofia</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Quem_Tem_Menor_Carga</name>
        <label>Quem_Tem_Menor_Carga</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Se_Sofia_Tem_Menos_Ou_Igual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Juliana_Tem_Menos_Ou_Igual</defaultConnectorLabel>
        <rules>
            <name>Marcelo_Tem_Menos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Marcelo_Id.Oportunidades_Abertas__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get.Oportunidades_Abertas__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Se_Giorgian_Tem_Menos</targetReference>
            </connector>
            <label>Marcelo_Tem_Menos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tamanhodaempresa</name>
        <label>Tamanho da empresa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Termina Flow</defaultConnectorLabel>
        <rules>
            <name>Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tamanho_da_empresa__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1 a 10 funcionários</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tamanho_da_empresa__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>11 a 50 funcionários</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_vai_pro_Marcelo</targetReference>
            </connector>
            <label>Enterprise</label>
        </rules>
        <rules>
            <name>SMB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tamanho_da_empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 a 10 funcionários</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quem_Tem_Menor_Carga</targetReference>
            </connector>
            <label>SMB</label>
        </rules>
        <rules>
            <name>Mid_Market</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tamanho_da_empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>51 a 250 funcionários</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_vai_pra_Juliana</targetReference>
            </connector>
            <label>Mid Market</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow de roteamento Enterprise/Mid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow de roteamento Enterprise/Mid/SMB</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Get Juliana ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Joao_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>jpaes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Joao_ID</name>
        <label>Get João ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sofia_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RSant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Marcelo_Id</name>
        <label>Get Marcelo Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>mtas</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sofia_ID</name>
        <label>Get Sofia ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tamanhodaempresa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>srodr</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Lead_da_Sofia</name>
        <label>Lead da Sofia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_do_Joao</name>
        <label>Lead do Joao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Marcelo_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_vai_pra_Juliana</name>
        <label>Lead vai pra Juliana</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_vai_pro_Marcelo</name>
        <label>Lead vai pro Marcelo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Marcelo_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Marcelo_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Qualificado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tamanho_da_empresa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>11 a 50 funcionários</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tamanho_da_empresa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>1 a 10 funcionários</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
