force-app/main/default/flows/Lead_Scoring.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Marca_N_o_Qualificado</name>
        <label>Marca Não Qualificado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varQualificado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Marca_Qualificado</name>
        <label>Marca Qualificado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varQualificado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X10_Email</name>
        <label>+10 Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJustificativa</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Email corporativo (+10 pts)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CNPJ_Verificado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X15_Tamanho</name>
        <label>+15 Tamanho</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJustificativa</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>+ Empresa com mais de 10 funcionários (+15 pts)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Segmento_Alvo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X20_CNPJ</name>
        <label>+20 CNPJ</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJustificativa</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>+ Empresa verificada via CNPJ (+20 pts)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tamanho_10_funcionarios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X20_Or_amento</name>
        <label>+20 Orçamento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJustificativa</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>+ Orçamento informado (+20 pts)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Score50</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X25_segmento</name>
        <label>+25 segmento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJustificativa</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>+ Segmento industrial alvo (+25 pts)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Orcamento_informado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Zera_Score</name>
        <label>Zera Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJustificativa</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Corporativo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CNPJ_Verificado</name>
        <label>CNPJ Verificado?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Tamanho_10_funcionarios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Divergencia_em_dados_do_CNPJ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X20_CNPJ</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Corporativo</name>
        <label>Email Corporativo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CNPJ_Verificado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isEmailCorporativo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X10_Email</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Orcamento_informado</name>
        <label>Orçamento informado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Score50</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao informado</defaultConnectorLabel>
        <rules>
            <name>Informado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Orcamento__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X20_Or_amento</targetReference>
            </connector>
            <label>Informado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Score50</name>
        <label>Score &gt;= 50?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Marca_N_o_Qualificado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não qualificado</defaultConnectorLabel>
        <rules>
            <name>Qualificado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marca_Qualificado</targetReference>
            </connector>
            <label>Qualificado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segmento_Alvo</name>
        <label>Segmento Alvo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Orcamento_informado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não Alvo</defaultConnectorLabel>
        <rules>
            <name>Alvo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segmento_da_empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telecomunicação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Segmento_da_empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultoria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Segmento_da_empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tecnologia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X25_segmento</targetReference>
            </connector>
            <label>Alvo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tamanho_10_funcionarios</name>
        <label>Tamanho &gt; 10 funcionários?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Segmento_Alvo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Menos de 10</defaultConnectorLabel>
        <rules>
            <name>Tem_mais_de_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tamanho_da_empresa__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1 a 10 funcionários</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X15_Tamanho</targetReference>
            </connector>
            <label>Tem mais de 10</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isEmailCorporativo</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  NOT(ISBLANK({!$Record.Email})),
  NOT(CONTAINS(LOWER({!$Record.Email}), &quot;@gmail.com&quot;)),
  NOT(CONTAINS(LOWER({!$Record.Email}), &quot;@hotmail.com&quot;)),
  NOT(CONTAINS(LOWER({!$Record.Email}), &quot;@yahoo.com&quot;)),
  NOT(CONTAINS(LOWER({!$Record.Email}), &quot;@outlook.com&quot;)),
  NOT(CONTAINS(LOWER({!$Record.Email}), &quot;@live.com&quot;))
)</expression>
    </formulas>
    <interviewLabel>Lead Scoring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Scoring</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_Lead</name>
        <label>Atualiza Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Lead_Qualificado__c</field>
            <value>
                <elementReference>varQualificado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Score__c</field>
            <value>
                <elementReference>varScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score_Justificativa__c</field>
            <value>
                <elementReference>varJustificativa</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Zera_Score</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varJustificativa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>varQualificado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
