force-app/main/default/flows/Opportunity_Atualizar_Carga_do_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Carga_No_User</name>
        <label>Set_Carga_No_User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Owner_User.Oportunidades_Abertas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQtdOppsAbertas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Owner_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Qtd_Opps_Abertas</name>
        <label>Set_Qtd_Opps_Abertas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varQtdOppsAbertas</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Opps_Abertas_Do_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Owner_User</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Opportunity – Atualizar Carga do Owner. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity – Atualizar Carga do Owner.</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opps_Abertas_Do_Owner</name>
        <label>Get_Opps_Abertas_Do_Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Qtd_Opps_Abertas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_User</name>
        <label>Get_Owner_User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Carga_No_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner_User</name>
        <label>Update_Owner_User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Owner_User</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opps_Abertas_Do_Owner</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.OwnerId}) || ISCHANGED({!$Record.IsClosed})</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varQtdOppsAbertas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
