force-app/main/default/flows/Quarentena_para_Leads_duplicados.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notificar_sobre_Duplicata</name>
        <label>Notificar sobre Duplicata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>rhuann1998@gmail.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>rhuann@devforce3.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead Duplicado Detectado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;{!mensagemDuplicataTask}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Preparar_Status_de_Duplicata</name>
        <label>Preparar Status de Duplicata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varStatusDuplicata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Análise - Possível Duplicata</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Colocar_Lead_em_Quarentena</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrepararMensagemdeDuplicata</name>
        <label>Preparar Mensagem de Duplicata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMensagemDuplicata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mensagemDuplicata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preparar_Status_de_Duplicata</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Encontrou_Duplicata</name>
        <label>Encontrou Duplicata?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não tem duplicata</defaultConnectorLabel>
        <rules>
            <name>Sim_Account_Duplicada</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccountDuplicada</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLeadDuplicado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrepararMensagemdeDuplicata</targetReference>
            </connector>
            <label>Sim - Account Duplicada</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>mensagemDuplicata</name>
        <dataType>String</dataType>
        <expression>&quot;⚠️ POSSÍVEL DUPLICATA DETECTADA\n\nJá existe um registro com este CNPJ na base de dados.\nEste Lead precisa de revisão manual antes da conversão.&quot;</expression>
    </formulas>
    <formulas>
        <name>mensagemDuplicataTask</name>
        <dataType>String</dataType>
        <expression>{!mensagemDuplicata} &amp; 
&quot;\n\n--- AÇÕES NECESSÁRIAS ---\n&quot; &amp;
&quot;1. Verificar se é realmente duplicata\n&quot; &amp;
&quot;2. Se sim: Vincular à Account existente ou fazer merge dos Leads\n&quot; &amp;
&quot;3. Se não: Atualizar Status Duplicata para &apos;Aprovado para Conversão&apos;&quot;</expression>
    </formulas>
    <interviewLabel>Quarentena para Leads duplicados {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quarentena para Leads duplicados</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Task_para_Revisao_Manual</name>
        <label>Criar Task para Revisão Manual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notificar_sobre_Duplicata</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>mensagemDuplicataTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Revisar Lead Duplicado</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Account_por_CNPJ</name>
        <label>Buscar Account por CNPJ</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Outros_Leads_com_Mesmo_CNPJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varAccountDuplicada</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Outros_Leads_com_Mesmo_CNPJ</name>
        <label>Buscar Outros Leads com Mesmo CNPJ</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_Duplicata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>varLeadDuplicado</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Colocar_Lead_em_Quarentena</name>
        <label>Colocar Lead em Quarentena</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Criar_Task_para_Revisao_Manual</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Relacionada__c</field>
            <value>
                <elementReference>varAccountDuplicada.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observacoes_da_Revisao__c</field>
            <value>
                <elementReference>varMensagemDuplicata</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_de_duplicata__c</field>
            <value>
                <elementReference>varStatusDuplicata</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Account_por_CNPJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CNPJ__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountDuplicada</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varLeadDuplicado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varMensagemDuplicata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStatusDuplicata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
