force-app/main/default/flows/Update_Lead_Com_Novo_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Se_Fernanda_Tem_Menos_Ou_Igual</name>
        <label>Se “Fernanda_Tem_Menos_Ou_Igual”</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fernanda.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Se_Joao_Tem_Menos</name>
        <label>Se “Joao_Tem_Menos”:</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Joao.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Quem_tem_a_menor_carga</name>
        <label>Quem tem a menor carga?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Se_Fernanda_Tem_Menos_Ou_Igual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fernanda_Tem_Menos_Ou_Igual</defaultConnectorLabel>
        <rules>
            <name>Joao_Tem_Menos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Joao.Leads_SMB_Abertos__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Fernanda.Leads_SMB_Abertos__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Se_Joao_Tem_Menos</targetReference>
            </connector>
            <label>Joao_Tem_Menos</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update_Lead_Com_Novo_Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update_Lead_Com_Novo_Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Fernanda</name>
        <label>Get - Fernanda</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quem_tem_a_menor_carga</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>srodr</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Leads_SMB_Abertos__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Joao</name>
        <label>Get – João</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Fernanda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>jgome</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Leads_SMB_Abertos__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Joao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tamanho_da_empresa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Mais de 1000 funcionários</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tamanho_da_empresa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>251 a 1000 funcionários</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tamanho_da_empresa__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>51 a 250 funcionários</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Qualificado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
